# Banco de dados de produção
DATABASE_URL="sua_url_do_banco_producao"

# NextAuth
NEXTAUTH_URL="https://seu-dominio.vercel.app"
NEXTAUTH_SECRET="seu_secret_muito_seguro_producao"

# Configurações do banco
DATABASE_PROVIDER="mysql"
